@import url(./__caption/lead__caption.css);
@import url(./__image/lead__image.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__title/lead__title.css);

.lead {
  max-width: 984px;
  margin: 56px auto 92px auto;
  padding: 0;
}
/* Стили для иного расширениия */
@media screen and (max-width: 1250px) {
  .lead {
    max-width: 928px;
  }
}
/* Стили для иного расширениия */
@media screen and (max-width: 950px) {
  .lead {
    max-width: 100%;
    margin: 56px auto 88px auto;
  }
}
/* Стили для иного расширениия (Mobile) */
@media screen and (max-width: 375px) {
  .lead {
    margin: 56px auto 64px auto;
  }
}