.lead__caption{
    position: absolute;
    margin: 0 auto;
    margin-top: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: left;

}

@media screen and (max-width: 1023px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    padding-left: 16px;
  }
}


